GlobalLandTempsByCity.csv filter=lfs diff=lfs merge=lfs -text
GlobalLandTemperaturesByCity.csv filter=lfs diff=lfs merge=lfs -text
cal_temps.csv filter=lfs diff=lfs merge=lfs -text
cal_temps_FINALLY_THANK_GOD.csv filter=lfs diff=lfs merge=lfs -text
year_dist.csv filter=lfs diff=lfs merge=lfs -text
data/figures/year_hist.png filter=lfs diff=lfs merge=lfs -text
data/figures/*.jped filter=lfs diff=lfs merge=lfs -text
data/figures/r2-test-area-scatter.jpeg filter=lfs diff=lfs merge=lfs -text
data/figures/year_hist.jpeg filter=lfs diff=lfs merge=lfs -text
data/raw-data/fire21_2.gdb filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_13_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_1_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_1_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_9_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_12_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_16_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_17_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_22_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_24_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_25_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_6_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_11_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_13_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_14_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_15_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_15_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_16_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_21_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_22_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_12_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_3_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_4_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_5_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_5_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_7_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_7_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_23_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_18_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_19_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_20_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_21_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_23_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_9_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_10_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_11_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_20_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_10_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_25_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_17_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_3_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_4_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_6_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_8_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_8_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_18_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_19_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_24_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_2_test.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_2_train.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/predictions/trial_14_test.csv filter=lfs diff=lfs merge=lfs -text
data/control_cent_x.csv filter=lfs diff=lfs merge=lfs -text
data/control_cent_y.csv filter=lfs diff=lfs merge=lfs -text
data/mlr_area.csv filter=lfs diff=lfs merge=lfs -text
data/mlr_cent_y.csv filter=lfs diff=lfs merge=lfs -text
data/anova_p_values.csv filter=lfs diff=lfs merge=lfs -text
data/control_area.csv filter=lfs diff=lfs merge=lfs -text
data/f_scores.csv filter=lfs diff=lfs merge=lfs -text
data/mlp_area.csv filter=lfs diff=lfs merge=lfs -text
data/mlp_cent_x.csv filter=lfs diff=lfs merge=lfs -text
data/mlp_cent_y.csv filter=lfs diff=lfs merge=lfs -text
data/mlr_cent_x.csv filter=lfs diff=lfs merge=lfs -text
cal_temps_filtering.ipynb filter=lfs diff=lfs merge=lfs -text
control.ipynb filter=lfs diff=lfs merge=lfs -text
data_combining.ipynb filter=lfs diff=lfs merge=lfs -text
gpd-testing.ipynb filter=lfs diff=lfs merge=lfs -text
mlp_model.ipynb filter=lfs diff=lfs merge=lfs -text
raw_data_prep.ipynb filter=lfs diff=lfs merge=lfs -text
data_splitting.ipynb filter=lfs diff=lfs merge=lfs -text
main.ipynb filter=lfs diff=lfs merge=lfs -text
mult_lin_reg.ipynb filter=lfs diff=lfs merge=lfs -text
statistics.ipynb filter=lfs diff=lfs merge=lfs -text
data/raw-data/cal_fire_temps.csv filter=lfs diff=lfs merge=lfs -text
data/raw-data/cal_fire_temps.to_csv filter=lfs diff=lfs merge=lfs -text
